USE [DotNet.TestDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/27/2020 8:20:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/27/2020 8:20:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[PostId] [bigint] NULL,
	[TotalLike] [decimal](18, 2) NULL,
	[TotalDisLike] [decimal](18, 2) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[EditBy] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 11/27/2020 8:20:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PostTittle] [nvarchar](max) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[EditBy] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Comment], [PostId], [TotalLike], [TotalDisLike], [CreateBy], [CreateDate], [EditBy], [EditDate], [Status]) VALUES (1, N'Comment 1', 1, CAST(279.00 AS Decimal(18, 2)), CAST(137.00 AS Decimal(18, 2)), N'User', CAST(N'2020-11-27T16:31:51.600' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Comments] ([Id], [Comment], [PostId], [TotalLike], [TotalDisLike], [CreateBy], [CreateDate], [EditBy], [EditDate], [Status]) VALUES (2, N'Comment 2', 1, CAST(152.00 AS Decimal(18, 2)), CAST(101.00 AS Decimal(18, 2)), N'User', CAST(N'2020-11-27T16:31:51.600' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Comments] ([Id], [Comment], [PostId], [TotalLike], [TotalDisLike], [CreateBy], [CreateDate], [EditBy], [EditDate], [Status]) VALUES (3, N'Comment 3', 1, CAST(300.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), N'User', CAST(N'2020-11-27T16:31:51.600' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [PostTittle], [CreateBy], [CreateDate], [EditBy], [EditDate], [Status]) VALUES (1, N'Post 1', N'Admin', CAST(N'2020-11-27T16:31:51.600' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Posts] ([Id], [PostTittle], [CreateBy], [CreateDate], [EditBy], [EditDate], [Status]) VALUES (2, N'Post 2', N'Admin', CAST(N'2020-11-27T16:31:51.600' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Posts] ([Id], [PostTittle], [CreateBy], [CreateDate], [EditBy], [EditDate], [Status]) VALUES (3, N'Post 3', N'Admin', CAST(N'2020-11-27T16:31:51.600' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Posts] OFF
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Posts_PostId]
GO
